.image-container {
    position: relative;
  }
  .slds-color-picker {
    overflow: auto; /* add scrollbars only when needed */
    /* or */
    overflow: hidden; /* hide content that overflows */
  }
  
  
  .text-overlay {
    position: absolute;
    top: 90%;
    left: 70%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 13px;
  }

  .my-input {
    width: 230px; /* Or any other size you want */
}