.cardClass{
   
    font-family:  Verdana, Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: large;
    text-align: center;
    color: rgb(170,26,7);
   
}
:host{
    
    --slds-c-button-brand-color-background:rgb(13, 121, 39);
    --slds-c-button-brand-color-background-hover:rgb(13, 121, 39);
   
    --slds-c-button-brand-color-border:White;
    --slds-c-button-brand-text-color:White;

   
}