.popup-container {
  position: absolute;
  top: 7rem; 
  left: 6rem;
  z-index: 1;
  width: 180px; 
  height: 60px; 
  background-color: rgba(255, 255, 255, 0.9); /* Set the background color with opacity */
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
}

.popup-content {
  padding: 1rem;
}

.close-icon {
  position: absolute;
  top: -7px;
  right: 8px;
  cursor: pointer;
  padding: 5px;
  background-color: transparent;
  z-index: 2;
}

.close-icon lightning-icon {
  fill: #666;
  transform: scale(0.4);
}


.popup-content {
  padding: 1rem;
}

.close-icon {
  position: absolute;
  top: -7px;
  right: 8px;
  cursor: pointer;
  padding: 5px;
  background-color: transparent;
  z-index: 2;
}

.close-icon lightning-icon {
  fill: #666;
  transform: scale(0.4);
}
